<div class="user-card">
    <li><%= link_to user.username, user%></li>
    <li><%= user.email %></li>
    <li><%= user.email %></li>
    <li><%= user.email %></li>
    <li><%= user.email %></li>
    <li><%= user.email %></li>
    <li><%= user.email %></li>
    <li><%= user.email %></li>
</div>