<h1><%= @film.title %></h1>
<p>dir: <%= @film.director %></p>
<p>runtime: <%= @film.runtime %> mins</p>
<% if @film.release_date %>
<p>release date: <%= @film.release_date.strftime("%d %A %Y") %></p>
<% else %>
<p>We don't know the release date of this movie</p>
<% end %>
<%= link_to 'edit this movie', edit_film_path(@film) %>

<%= form_for @review do |f| %>
    <h3>Leave a review for this movie!</h3>
    <div>
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, @users, :id, :text_for_option %>
    <div>
    </div>
    <%= f.hidden_field :film_id, value: @film.id %>
    <div>
    </div>

    <%= f.label :content %>
    <%= f.text_field :content %>
    <div>
    </div>

    <%= f.label :rating %>
    <%= f.number_field :rating %>
    <div>
    </div>

    <%= f.submit %>
<% end %>

<% @film.reviews.each do |review| %>
    <div style="border: solid 1px grey; padding: 1em;">
    <%= review.rating%>
    <p><%= review.content %></p>
    <p>by <%= review.user.username %></p>
    </div>
<% end %>