<!DOCTYPE html>
<html>
  <head>
    <title>Cookie Quiz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav>
        <div class="container">
        <div class="float-left"><h3 style="margin-bottom: 0;">Cookie Quiz</h3></div>
        </div>
      </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
